@font-face {
    font-family: "gameboy";
    src: url(./font/early-gameboy.woff);
}

@keyframes cursor-blink {
    0% {
        opacity: 0;
    }
}

* {
    font-family: gameboy;
}

body {
    margin: 0;
    padding: 0;
}

/* centralise elements */
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button {
    display: inline-block;
    border: 1px solid black;
    cursor: pointer;
    padding: 5px;
    margin-top: 20px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.button:hover {
    color: white;
    background-color: black;
}

.pokeName {
    text-align: center;
}

.pokeId {
    text-align: center;
}

#pokeName {
    display: inline-block;
    text-transform: capitalize;
}

#pokeName::after {
    margin: 0;
    content: '';
    width: 5px;
    height: 15px;
    display: inline-block;
    background-color: black;
    animation: cursor-blink 1.5s steps(2) infinite;
}

#id {
    display: inline-block;
}


#id::after {
    margin: 0;
    content: '';
    width: 5px;
    height: 15px;
    display: inline-block;
    background-color: black;
    animation: cursor-blink 1.5s steps(2) infinite;
}

#id.no-after:after {
    display: none;
}

#pokeName.no-after:after {
    display: none;
}

.pokeImg {
    text-align: center;
    padding-top: 10px;
}

/* TODO:
- Improve on the UI (Pokemon gameboy UI?)
- Blinking empty text before searching for a pokemon
- Font to gameboy text
*/