body {
    margin: 0;
    padding: 0;
}

/* centralise elements */
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button {
    display: inline-block;
    border: 1px solid black;
    cursor: pointer;
    padding: 5px;
    margin-top: 20px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.button:hover {
    color: white;
    background-color: black;
}

.pokeName {
    text-align: center;
}

.pokeId {
    text-align: center;
}

#id {
    display: inline-block;
}

#pokeName {
    display: inline-block;
    text-transform: capitalize;
}

.pokeImg {
    text-align: center;
    padding-top: 10px;
}

/* TODO:
- Improve on the UI (Pokemon gameboy UI?)
- Blinking empty text before searching for a pokemon
- Font to gameboy text
*/