@font-face {
    font-family: "gameboy";
    src: url(./assets/font/early-gameboy.woff);
}

@keyframes cursor-blink {
    0% {
        opacity: 0;
    }
}

* {
    font-family: gameboy;
}

body {
    margin: 0;
    padding: 0;
}

.button {
    border: 0.7vmin solid #5f2f2f;
    border-radius: 3vmin;
    cursor: pointer;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button .text {
    padding: 1vmin;
    font-size: 1.9vmin;
}

.button:hover {
    color: white;
    background-color: #FF2400;
}

.pokeName {
    padding: 3vmin 0 2vmin 2vmin;
    font-size: 1vmin;
}

.pokeId {
    padding: 0 0 0 2vmin;
    font-size: 1vmin;
}

#pokeName {
    display: inline-block;
    text-transform: capitalize;
}

#pokeName::after {
    margin: 0;
    content: '';
    width: 0.5vmin;
    height: 1vmin;
    display: inline-block;
    background-color: black;
    animation: cursor-blink 1.5s steps(2) infinite;
}

#id {
    display: inline-block;
}


#id::after {
    margin: 0;
    content: '';
    width: 0.5vmin;
    height: 1vmin;
    display: inline-block;
    background-color: black;
    animation: cursor-blink 1.5s steps(2) infinite;
}

#id.no-after:after {
    display: none;
}

#pokeName.no-after:after {
    display: none;
}

.pokeImg {
    text-align: center;
    padding-top: 2vmin;
}

#pokeImg {
    height: 13vmin;
}

.screen-main {
    width: 40vmin;
    height: 25vmin;
    background: #dae8c1;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: inset 3px 3px rgb(0 0 0 / 15%);
    border: 0.6vmin solid #5f2f2f;
    overflow: hidden;
}

.screen-border {
    width: 50vmin;
    height: 32.5vmin;
    left: 50%;
    margin-top: 6vmin;
    transform: translate(-50%);
    background-color: #906964;
    position: absolute;
    border-radius: 13% 5% 15% 5%;
    border: 0.6vmin solid #5f2f2f;
    z-index: 2;
}

.gameboy {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80vmin;
    width: 61vmin;
    background: #fdc750;
    border-radius: 1.3vmin;
    border-bottom-right-radius: 5vmin;
    overflow: hidden;
    border: 0.7vmin solid #5f2f2f;
    box-shadow: 1.8vmin 1.8vmin #9d978e;
}

.screen-glow {
    height: 100%;
    position: absolute;
    background-color: rgba(230, 240, 212, 0.6);
    transform: skewX(-32deg);
}

.screen-glow:nth-child(2) {
    width: 18%;
    margin-left: 7%;
}

.screen-glow:nth-child(3) {
    width: 9%;
    margin-left: 65%;
}

.screen-glow:nth-child(4) {
    width: 12%;
    margin-left: 80%;
}

.content {
    height: 100%;
}

.left-line {
    height: 0.5vmin;
    width: 15vmin;
    background-color: #5f2f2f;
    margin-top: 1.5vmin;
    margin-left: 3vmin;
    position: absolute;
    box-shadow: 0 0.3vmin #b28985, 0 0.3vmin #b28985;
}

.right-line {
    height: 0.5vmin;
    width: 10vmin;
    background-color: #5f2f2f;
    position: absolute;
    margin-top: 1.5vmin;
    margin-left: 37vmin;
    box-shadow: 0 0.3vmin #b28985, 0 0.3vmin #b28985;
}